<h2>List of parties</h2>

<div class="container">
  <div class="row">
    <div class="col-6">
      <% @parties.each do |party| %>
        <div class="card rounded-top"  style="width: 18rem;">
          <%= cl_image_tag party.photo.key, class:"rounded-top card-img-top border-bottom", alt: party.name %>

          <div class="card-body">
            <p class="card-text"><%= party.name %></p>
            <p class="card-text"><%= party.description %></p>
            <p class="card-text"><%= party.address %></p>
            <p class="card-text"><%= party.price %></p>
            <p class="card-text"><%= party.date %></p>
            <p class="card-text"><%= party.rating %></p>
            <p class="card-text"><%= party.capacity %></p>
            <p class="card-text"><%= party.category %></p>
          </div>
            <%= link_to "Open Party", party_path(party), class:"btn btn-flat" %>
        </div>
    </div>
  </div>
</div>
