<main>
  <div class="banner">
    <%= cl_image_tag @party.photo.key, class: "banner_image" %>
  </div>

  <div class = 'container'>
  <div class = 'row'>
    <div class = 'col-12'>
      <table class = 'table table-bordered'>
      <thead>
        <tr>
          <th scope = 'row'><h1> <%= @party.name %> </h1></th>
        </tr>
      </thead>
      <tbody>
      <tr>
          <td><h3>Description : </h3></td>
          <td><h3><%= @party.description %></h3></td>
        </tr>
        <tr>
          <td><h3>Address : </h3></td>
          <td><h3><%= @party.address %></h3></td>
        </tr>
        <tr>
          <td><h3>Price R$</h3></h3></td>
          <td><h3><%= @party.price %></h3></td>
        </tr>
        <tr>
          <td><h3>Date : </h3></h3></td>
          <td><h3><%= @party.date %></h3></td>
        </tr>
        <tr>
          <td><h3>Category : </h3></h3></td>
          <td><h3><%= @party.category %></h3></td>
        </tr>
        <tr>
          <td><h3>Capaticy : </h3></h3></td>
          <td><h3><%= @party.capacity %></h3></td>
        </tr>
        <tr>
          <td><h3>Rating : </h3></h3></td>
          <td><h3><%= @party.rating %></h3></td>
        </tr>
    </tbody>
  </table>
</main>

<%= button_to "delete", user_party_path(@party), :method => :delete, class: 'btn btn-danger'%>
