<div class="row">
      <div class="col-8 scrollable-col">

        <% parties.each do |party| %>
            <% party = party.party if party.class == Bookmark %>
            <div class = 'airbnb-card row p-4'>
              <div class="col-4">
                <div class="container w-80 image rounded-3" style="<%= party.photo.attached? ? background_image(url: party.photo.key, cloudinary: true) : background_image %>">
                </div>
              </div>
              <div class="col-8">
                <p class="card-text text-black-50"><%= party.address %></p>
                <p class="fs-3">
                  <%= link_to party.name, user_party_path(id: party, user_id: current_user), class: '' %>
                </p>
                <p class="date text-muted"><%= party.date.strftime("%m/%d/%Y") %></p>
                <p class="price fw-bold fs-5"><%= "R$#{sprintf('%.2f', party.price)}" %></p>
                <p class="capacity text-muted">
                  <i class="fas fa-user-friends"></i>
                  <%= party.capacity %>
                </p>
                <p class="categories">
                  <%= link_to party.category, parties_display_index_path(query: party.category), class: 'text-muted' %>
                </p>
              </div>
            </div>
        <% end %>

      </div>
      <div class="col-4">
        <div style="width: 100%; height: 80vh;"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
