<h2>List of parties</h2>

<div class="container">
  <div class="row">
    <% @parties_display.each do |party| %>
      <div class="col-6">
          <div class="card rounded-top"  style="width: 18rem; height: 10rem">


            <div class="card-body">
              <p class="card-text"><%= party.name %></p>
              <p class="card-text"><%= party.description %></p>
              <p class="card-text"><%= party.address %></p>
              <p class="card-text"><%= party.price %></p>
              <p class="card-text"><%= party.date %></p>
              <p class="card-text"><%= party.rating %></p>
              <p class="card-text"><%= party.capacity %></p>
              <p class="card-text"><%= party.category %></p>
            </div>
              <%# <%= link_to "Open Party", party_path(party), class:"btn btn-flat" %>
          </div>
      </div>
    <% end%>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
